<link href="/css/artist-songs.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script>let artistId = '{{artistId}}';</script>
<script src="/js/main.js"></script>
<script src="/js/artist-songs.js"></script>

<span>
	<header>
		<div class="title"></div>
		<div class="subtitle">
			Click titles to view chart performance graphs;
			<p/>
			<a href="/artists/{{artistId}}/songs/charts">View all {{artistName}} songs by weekly performance</a>
		</div>
	</header>
	<canvas id="chartjs-canvas"></canvas>
	<div class="subtitle">
		Dates shown are the weeks when each song first reached its highest position
	</div>
	<footer>
		<div>
			<select id="artists"></select>
		</div>
		<div>
			<select id="chart-date"></select>
		</div>
	</footer>
</span>
