<link href="/css/song-charts.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script>let songId = '{{songId}}'; let artistId = '{{artistId}}';</script>
<script src="/js/main.js"></script>
<script src="/js/song-charts.js"></script>

<div id="chartjs-canvas-container">
	<header>
		<div class="title"></div>
		<div id="artist-other-songs-container">
			<div>
				<select id="artist-other-songs"></select>
			</div>
			<div>
				All songs by <span id="artist-other-songs-all"></span>:
				<a href="/artists/{{artistId}}/songs">Peak position</a> | <a href="/artists/{{artistId}}/songs/charts">Weekly performance</a>
			</div>
		</div>
	</header>
	<span>
		<canvas id="chartjs-canvas"></canvas>
		<footer>
			<div>
				<select id="artists"></select>
			</div>
			<div>
				<select id="chart-date"></select>
			</div>
		</footer>
	</span>
</div>
