header {
	flex-direction: row !important;
	margin-bottom: 20px;
}

select, option {
	font-size: 1.3rem;
}

td {
	white-space: nowrap;
}

#chart-table {
	margin: auto;
	border-spacing: 0;
	border-collapse: separate;
	margin-bottom: 50px;
}

#chart-table tr td {
	padding: .2rem .7rem;
	border-bottom: solid 1px #ccc;
}

#chart-table tr:first-child td {
	font-weight: bold;
	background-color: #dedede;
}

#chart-table tr td:first-child {
	font-weight: 800;
	text-align: right;
}

.change-new {
	color: #6aadff;
}

.change-up {
	color: #009f00;
}

.change-down {
	color: #df0000;
}

.change-none {
	color: #ccc;
}