html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

*, select {
	font: 400 16px Rubik, sans-serif;
}

a, a:hover, a:active, a:visited {
	color: #1880e7;
	text-decoration: none;
}

.bold {
	font-weight: 500;
}

.black {
	font-weight: 800;
}

header {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title, .title > a, .title > span {
	font-weight: 500;
	font-size: 1.5rem;
	color: #1880e7;
}

.title {
	text-align: center;
	padding: 10px;
}

.title a {
	text-decoration: underline;
}

.subtitle {
	text-align: center;
	padding-top: 10px;
}

#chartjs-canvas-container {
	position: relative;
	height: 40vh;
	width: 99vw;
}

#chartjs-canvas-container > span {
	text-align: center;
}

footer {
	visibility: hidden;
}

.footer-select {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-top: dashed 1px #ccc;
	margin: 20px 0;
	padding: 20px 0;
}

.footer-select > div {
	margin: 0 20px;
}
